body{
    font-family: sans-serif;
    margin: 0;
}

.p{
    color: dimgray;
}
section{
    height: 500px;
}
    
.top-baner{
    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat
}
.text-aria{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.text-aria h1{
    font-size: 50px;
    
}
.development-color{
    color: coral;
}
.taitel{
    font-size: 40px;
}
.about{
    font-size: 25px;
}
.buttom{
    text-decoration: none;
    background-color: coral;
    padding: 10px 40px;
    font-weight: bold;
    color: wheat;
    border-radius: 10px;
}

/* section ar prothom div end */


.Image-aria {
    width: 45%;
    float: left;
    padding-left: 10%;
}
.Image-aria img{
    padding-left: 50px;
    height: 500px;
    width:auto;
    
}


/* sceond-part start now */
.Experience{
    font-size: 60px;
}

.half-width{
    width: 40%;
    height: 0%;
    padding-left: 5%;
    padding-top: 10%;
}

.laft-site {
    width: 45%;
    float: right;
    margin-right: 5%;
}
.laft-site h2{
    font-size: 50px;
}
.laft-site h3{
    font-size: 40px;
}
.laft-site p{
    font-size: 25px;
}
.Resume-of{
    font-size: 20px;
    font-weight: bold;
    background-color: coral;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.laft-site{
    background-image: url("Image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}


/* 3rd part start..................... */


.Experience-aria{
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.Propetional{
    
    width: 45%;
}
.baginer{
    width: 45%;
    float :right;
}
.shedo{
    box-shadow: 10px 10px 40px gray; 
    border-radius: 5px;
    height: 40%;
    background-color: white;
}
.Experience-aria{
    background-image: url("Image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#boroder{
    border-left: 7px solid ;
    border-image:linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#boroder-color{
    border-left: 7px solid;
    border-image: linear-gradient(blue , cyan);
    border-image-slice: 1;
}
 

footer p{
    text-align: center;
    font-size: 23px;
    padding-top: 200px;
    color: gray;

}

